@import "../../variables";

.image {
  color: $orange;

  .outer-circle {
    display: flex;
    justify-content: center;
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: $cyan;

    .text {
      color: $white;
      align-self: center;
    }

    .inner-circle {
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 0;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: $orange;
    }
  }
}